@keyframes PopupFadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.popup-content {
    padding: 0 !important;
    border: none !important;
    width: unset !important;

    animation: PopupFadeIn 0.2s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    .listingPopup__floorplan img {
        animation: PopupFadeIn 0.5s ease-in-out;
    }
}

.popup-content {
    background: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(5px);
    z-index: 10000;
}

.popup-overlay {
    overflow-y: auto !important;
    z-index: 10000;
}